#homepage-wrapper {
  overflow-x: hidden;
  background-color: var(--lgt-green);
}

#home {
  display: flex;
  flex-direction: column;
}

p {
  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 0 100px 0;
  width: 1180px;
  margin-inline: auto;
  gap: 100px;
  color: var(--black);
}

header {
  margin-inline: auto;
  /* margin-bottom: 70px; */
  text-align: center;
}

main header > h2::before {
  top: 50px;
  width: 560px;
}

main header > h2 > a {
  color: var(--black);
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  top: -45px;
  left: 485px;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

main header > h2 > a:hover {
  color: var(--white);
  transition: all 0.2s;
}

main header > p,
.msg-wrap p {
  color: var(--black);
  font-weight: 600;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  max-width: 550px;
  line-height: 1.5em;
  margin-inline: auto;
}

.about-text {
  max-width: 760px;
  font-size: 20px;
  font-weight: 400;
  margin-inline: auto;
  line-height: 1.5em;
  font-weight: 500;
}

.about-text:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
  text-align: right;
}

.about-container {
  display: flex;
  align-items: center;
  max-width: 950px;
}

.music-cont p {
  color: var(--white);
}

.exp-wrap,
.cert-wrap,
.skill-wrap,
.msg-wrap {
  display: flex;
  flex-direction: column;
  width: 1080px;
  /* align-items: center; */
}

.exp-wrap h3,
.cert-wrap h3,
.skill-wrap h3,
.msg-wrap h3 {
  margin-inline: auto;
  text-decoration: underline;
}

.exp-header,
.course-header {
  text-decoration: underline;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 30px;
}

.exp-bullet,
.course-bullet {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 10px;
}

.experience:nth-child(2) {
  text-align: right;
}

.experience:nth-child(2) ul {
  list-style-position: inside;
}
.skill-wrap,
.msg-wrap {
  width: 950px;
  gap: 30px;
}

.skill-wrap h3 {
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill-tier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.skill-head {
  flex-shrink: 0;
  font-size: 1rem;
  text-decoration: underline;
}

.skill-list {
  text-align: right;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.msg-wrap {
  gap: 0;
  padding-inline: 150px;
}

form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea,
button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: rgb(26, 26, 26);
}

input,
input::placeholder,
textarea {
  font: inherit;
  font-size: 0.8rem;
}

button {
  width: 120px;
  font: inherit;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px;
}
