#homepage-wrapper {
  overflow-x: hidden;
  background-color: var(--lgt-green);
}

#home {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 150px 0 100px 0;
}

main h2::before {
  top: 50px;
}

main header > p {
  color: var(--black);
  font-weight: 600;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  max-width: 550px;
  line-height: 1.5em;
}
.archives {
  background: rgba(121, 32, 2, 0.2);
  width: 750px;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 30px;
  padding: 30px;
}

.archives .project {
  width: 325px;
  height: 300px;
  background-color: #acd5fc;
  border-radius: 15px;
}

.proj-col-1,
.proj-col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.proj-col-1 > .project:nth-child(2),
.proj-col-2 > .project:first-child {
  height: 340px;
}
