:root {
  --lgt-green: #71fc7d;
  --white: #fff;
  --black: #000;
  --delay: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  outline: 1px dashed rgba(0, 119, 255, 0.459);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: montserrat, sans-serif;
  color: var(--white);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

nav {
  height: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.navbar {
  display: flex;
  align-items: center;
  padding: 0 120px;
  border-radius: 15px;
  gap: 90px;
  background: rgba(121, 32, 2, 0.2);
  height: 50px;
  max-width: 750px;
}

/* li.nav-item {
    height: 100%;
} */

a.nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 4px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  transition: var(--delay);
}

.nav-link:hover::after {
  content: '';
  position: absolute;
  top: 24px;
  display: inline-flex;
  width: 40px;
  height: 4px;
  background-color: var(--white);
  border-radius: 7px;
}

footer {
  width: 100%;
  max-height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 60px;
  text-align: center;
  padding: 0 70px;
  color: var(--black);
  margin-bottom: 10px;
}

footer h6 {
  font-size: 1rem;
  margin: auto 0;
}

.music-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: rgba(4, 15, 3, 0.76);
  border-radius: 100px;
  color: var(--white);
}

.music-cont img {
  max-width: 50px;
}

.music-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}
.music-info h6:first-child {
  font-weight: 700;
  font-size: 16px;
}

.music-info h6:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
}

.music-cont p {
  font-size: 12px;
}

.social-links {
  margin: auto 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-links a img {
  width: 25px;
}
