:root {
  --lgt-green: #62e46d;
  --white: #fff;
  --black: #000;
  --delay: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  /* outline: 1px dashed rgba(0, 119, 255, 0.459); */
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: montserrat, sans-serif;
  color: var(--white);
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  user-zoom: none;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

nav {
  height: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul.navbar {
  display: flex;
  align-items: center;
  padding: 0 120px;
  border-radius: 15px;
  gap: 90px;
  background: rgba(121, 32, 2, 0.2);
  height: 50px;
  max-width: 750px;
}

/* li.nav-item {
    height: 100%;
} */

a.nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 4px;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  transition: var(--delay);
}

.nav-link:hover::after {
  content: '';
  position: absolute;
  top: 24px;
  display: inline-flex;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: 7px;
}
main h2 {
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
  text-align: center;
  font-size: 86px;
  line-height: 58px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

main h2::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 550px;
  background-color: rgb(240, 240, 240);
  top: 100px;
  z-index: -1;
}

footer {
  width: 100%;
  max-height: 70px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  gap: 60px;
  text-align: center;
  padding: 0 70px;
  color: var(--black);
  margin-bottom: 25px;
}

footer h6 {
  font-size: 1rem;
  margin: auto 0;
}

.music-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: rgba(4, 15, 3, 0.76);
  border-radius: 100px;
  color: var(--white);
}

.music-cont img {
  max-width: 50px;
}

.music-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}
.music-info h6:first-child {
  font-weight: 700;
  font-size: 16px;
}

.music-info h6:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
}

.music-cont p {
  font-size: 12px;
}

.social-links {
  margin: auto 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.social-links a img {
  width: 25px;
}

/* Tablet Screen Optimization */

@media (max-width: 850px) {
  nav {
    min-height: 100px;
    margin-top: 30px;
  }
  ul.navbar {
    max-width: 600px;
    padding: 0 60px;
    gap: 50px;
    height: 50px;
  }

  footer {
    margin-bottom: 25px;
    gap: 20px;
  }

  footer h6 {
    font-size: 0.9rem;
    margin: auto 0;
  }

  .music-cont {
    padding: 7px 20px;
  }

  .music-cont img {
    max-width: 30px;
  }

  .music-info {
    gap: 5px;
  }
  .music-info h6:first-child {
    font-weight: 500;
    font-size: 14px;
  }

  .music-info h6:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
  }

  .music-cont p {
    font-size: 10px;
  }

  .social-links {
    gap: 15px;
  }

  .social-links a img {
    width: 20px;
  }
}

/* Mobile Styling */
@media (max-width: 512px) {
  nav {
    min-height: 100px;
    margin-top: 30px;
  }
  ul.navbar {
    max-width: 400px;
    padding: 0 30px;
    gap: 20px;
    height: 50px;
  }

  a.nav-link {
    font-size: 0.7rem;
  }

  footer {
    margin-bottom: 25px;
    gap: 10px;
    padding: 0 15px;
  }

  footer h6 {
    font-size: 0.5rem;
  }

  .music-cont {
    padding: 5px 15px;
  }

  .music-cont img {
    max-width: 30px;
  }

  .music-info {
    gap: 0px;
  }
  .music-info h6:first-child {
    font-size: 12px;
  }

  .music-info h6:nth-child(2) {
    font-size: 10px;
  }

  .music-cont p {
    display: none;
  }

  .social-links {
    gap: 10px;
  }

  .social-links a img {
    width: 15px;
  }

  main h2 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.7rem;
  }

  main h2::before {
    height: 7px;
    width: 300px;
    background-color: rgb(240, 240, 240);
    top: 60px;
  }
}
