#homepage-wrapper {
  overflow-x: hidden;
  background-color: var(--lgt-green);
}

#home {
  display: flex;
  flex-direction: column;
}

.nav-item:nth-child(2) .nav-link::after {
  content: '';
  position: absolute;
  top: 24px;
  display: inline-flex;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: 7px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 150px 0 100px 0;
}

main header > p {
  color: var(--black);
  font-weight: 600;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  max-width: 550px;
  line-height: 1.5em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 850px;
}

.project {
  background: rgba(121, 32, 2, 0.2);
  padding: 30px;
  border-radius: 30px;
}

.project img {
  border-radius: 20px;
}

@media (max-width: 850px) {
  main {
    gap: 50px;
    margin: 150px 0 50px 0;
  }

  .projects-container {
    gap: 30px;
    max-width: 650px;
  }
}

@media (max-width: 512px) {
  main {
    gap: 50px;
    margin: 100px 0 30px 0;
  }

  .projects-container {
    gap: 30px;
    max-width: 350px;
  }

  main header > p {
    font-weight: 600;
    margin-top: 10px;
    font-size: 0.7rem;
    max-width: 350px;
  }

  .project {
    padding: 10px;
    border-radius: 10px;
  }

  .project img {
    border-radius: 7px;
  }
}
