/* Styling for Desktop View first */

/************NOTE TO SELF ***********/
/* IMplement background blur on navbar */

#homepage-wrapper {
  background-color: var(--lgt-green);
  height: 100vh;
  overflow: hidden;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item:nth-child(1) .nav-link::after {
  content: '';
  position: absolute;
  top: 24px;
  display: inline-flex;
  width: 30px;
  height: 3px;
  background-color: var(--white);
  border-radius: 7px;
}

main h1 {
  background-color: #15271e;
  color: transparent;
  text-shadow: 1px 1px 3px var(--white);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

h1 span:nth-child(1) {
  text-shadow: 1px 1px 2px var(--white);
}

h1 span:nth-child(2) {
  display: block;
  font-size: 120px;
  font-weight: 700;
}

h5 {
  max-width: 750px;
  line-height: 1.7rem;
}

@media (max-width: 850px) {
  main {
    max-width: 600px;
    gap: 50px;
  }

  h1 span:nth-child(2) {
    margin-top: 40px;
  }
}

@media (max-width: 512px) {
  main {
    max-width: 360px;
    gap: 50px;
  }

  h1 span:nth-child(2) {
    margin-top: 20px;
  }

  main h1 {
    font-size: 2rem;
  }

  h1 span:nth-child(2) {
    font-size: 4rem;
  }

  main h5 {
    font-size: .8rem;
  }
}
